{
  "presets": [
    "@babel/env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    ["minify", {
      "builtIns": false,
      "evaluate": false,
      "mangle": false
    }]
  ],
  "comments": false,
  "plugins": [
    "@babel/plugin-proposal-class-properties","transform-remove-debugger", "babel-plugin-tsconfig-paths"
  ]
}